<html>
<body>
<form name="frmRFILines" target="/console/rfnwcgrfireturns.ppc">
<table border="1">
	<tr>
		<td>
		<table border="0" width="300">
			<tr>
				<td><input col="1" name="lblHeader" size="40" subtype="Label"
					tag="binding=lblTitle" value="RFI Return Lines" type="text"
					validate="false" /></td>
			</tr>
			<tr>
				<td><input col="1" name="lblReturnNo" size="40" subtype="Label"
					tag="binding=xml:/NextReceiptNo/@ReceiptNo" value=""
					inputbinding="xml:/NextReceiptNo/@ReceiptNo" type="text"
					validate="false" /> <input col="19" size="15" name="lblIncNo"
					subtype="Label" tag="binding=xml:/Receipt/@IncNo" type="hidden"
					validate="false" value="" inputbinding="xml:/Receipt/@IncNo"
					outputbinding="xml:/Receipt/@IncNo" /> <input col="19"
					size="15" name="lblIncYear" subtype="Label"
					tag="binding=xml:/Receipt/@IncYear" type="hidden" validate="false"
					value="" inputbinding="xml:/Receipt/@IncYear"
					outputbinding="xml:/Receipt/@IncYear" /></td>
			</tr>
			<tr>
				<td><input col="1" size="9" name="lblItemID" subtype="Label"
					tag="binding=lblEquipment" type="text" validate="false"
					value="Item ID" /> <input col="11"
					inputbinding="xml:/ReturnLine/@ItemID" name="txtItemID"
					outputbinding="xml:/ReturnLine/@ItemID" size="7" subtype="Text"
					tag="binding=xml:/ReturnLine/@ItemID" type="text" validate="true" />
				</td>
			</tr>
			<tr>
				<td><input col="1" size="40" name="lblItemDesc" subtype="Label"
					tag="binding=xml:/ReturnLine/@ItemDesc"
					inputbinding="xml:/ItemList/Item/PrimaryInformation/@Description"
					type="text" validate="false" value="" /> <input col="19" size="15"
					name="lblUOM" subtype="Label"
					tag="binding=xml:/ReturnLine/@UnitOfMeasure" type="hidden"
					validate="false" value=""
					inputbinding="xml:/ItemList/Item/@UnitOfMeasure"
					outputbinding="xml:/ReturnLine/@UnitOfMeasure" /> <input col="19"
					size="15" name="lblPC" subtype="Label"
					tag="binding=xml:/ReturnLine/@ProductClass" type="hidden"
					validate="false" value=""
					inputbinding="xml:/ItemList/Item/PrimaryInformation/@DefaultProductClass"
					outputbinding="xml:/ReturnLine/@ProductClass" /></td>
			</tr>
			<tr>
				<td><input col="1" size="9" name="lblQty" subtype="Label"
					tag="binding=lblEquipment" type="text" validate="false"
					value="Quantity" /> <input col="11"
					inputbinding="xml:/ReturnLine/@Qty" name="txtQty"
					outputbinding="xml:/ReturnLine/@Qty" size="4" subtype="Text"
					tag="binding=xml:/ReturnLine/@Qty" type="text" validate="false" />
				</td>
			</tr>
			<tr>
				<td><input col="1" size="11" name="lblTotalLines"
					subtype="Label" tag="binding=lblEquipment" type="text"
					validate="false" value="Total Lines" /> <input col="12" size="5"
					name="lblTotalLinesVal" subtype="Label" tag="binding=lblEquipment"
					type="text" validate="false" value="" /></td>
			</tr>
			<tr>
				<td><input col="1" hotkey="F4" name="Add" size="12"
					subtype="Command" tag=" " type="button"
					url="/console/rfnwcgrfireturns.ppc?action=frmAddLineToTempQ"
					validate="false" value="Add" /> <input col="13" hotkey="F5"
					name="AddLPN" size="15" subtype="Command" tag=" " type="button"
					url="/console/rfnwcgrfireturns.ppc?action=frmRFILPNInit"
					validate="false" value="Add To LPN" /></td>
			</tr>
			<tr>
				<td><input col="1" hotkey="F6" name="ViewList" size="12"
					subtype="Command" tag=" " type="button"
					url="/console/rfnwcgrfireturns.ppc?action=frmRFIReturnList"
					validate="false" value="View List" /> <input col="13" hotkey="F3"
					name="Process Return" size="15" subtype="Command" tag=" "
					type="button"
					url="/console/rfnwcgrfireturns.ppc?action=frmProcessReturn"
					validate="false" value="Process Return" /></td>
			</tr>
		</table>
		</td>
	</tr>
</table>
</form>
</body>
</html>