<html>
<body>
<form name="frmUNSList" target="/console/rfnwcgunsreturns.ppc">
<table border="1">
	<tr>
		<td>
		<table border="0" width="300">
			<tr>
				<td><input col="10" mandatory="false" size="20" subtype="Label"
					tag="binding=lblREturnItemList" type="text" validate="false"
					value="UNS Return Item List" /></td>
			</tr>
			<tr />
			<tr>
				<td><input col="1" mandatory="false" size="20" subtype="Label"
					tag="binding=lblItemList" type="text" validate="false"
					value="Item List" /></td>
			</tr>
			<tr>
				<td>
				<table binding="/ReturnItemList/@Item" col="1" gridcols="6"
					gridrows="5" id="Item" mandatory="false" name="gridReturnItemList"
					namespace="ReturnItemList" size="20"
					tag="binding=gridReturnItemList" validate="false">
					<tr>
						<td><input colno="0" colName=" " size="0" type="hidden"
							value="/console/rfnwcgunsreturns.ppc?action=frmUNSDeleteFromTempQ" />
						<input colno="1" colName="1" inputbinding="xml:/Item/@ItemID"
							outputbinding="xml:/Item/@ItemID" size="0" type="hidden" /> <input
							colno="2" colName="1" inputbinding="xml:/Item/@Quant"
							outputbinding="xml:/Item/@Quant" size="0" type="hidden" /> <input
							colno="4" colName="Item/Track ID"
							inputbinding="xml:/Item/@ItemID" size="15" type="text" /> <input
							colno="5" colName="Qty" inputbinding="xml:/Item/@Quant" size="5"
							type="text" /></td>
					</tr>
				</table>
				</td>
			</tr>
			<tr />
			<tr />
			<tr />
			<tr />
			<tr />
			<tr>
				<td><input col="1" hotkey="F4" name="Go" size="15"
					subtype="Command" tag=" " type="button"
					url="/console/rfnwcgunsreturns.ppc?action=frmUNSAddItemInput"
					validate="false" value="Add New Item" /></td>
			</tr>
		</table>
		</td>
	</tr>
</table>
</form>
</body>
</html>
